In [2]:
# Reference: the dataset structure used in the assignment
import pandas as pd

sales_data = {
    'OrderID':   [1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,
                  1011,1012,1013,1014,1015,1016,1017,1018,1019,1020],
    'Date':      ['2024-01-05','2024-01-12','2024-01-18','2024-01-22','2024-01-30',
                  '2024-02-03','2024-02-08','2024-02-14','2024-02-19','2024-02-25',
                  '2024-03-02','2024-03-07','2024-03-11','2024-03-15','2024-03-18',
                  '2024-03-20','2024-03-22','2024-03-25','2024-03-27','2024-03-30'],
    'Region':    ['North','South','East','West','North','East','South','North','West','East',
                  'South','North','East','West','South','North','East','West','South','North'],
    'Product':   ['Laptop','Headset','Monitor','Keyboard','Laptop','Webcam','Headset','Monitor',
                  'Laptop','Keyboard','Webcam','Laptop','Monitor','Headset','Keyboard','Webcam',
                  'Laptop','Monitor','Headset','Keyboard'],
    'Quantity':  [2,5,1,8,1,10,3,2,1,12,7,2,1,4,6,9,1,2,5,10],
    'UnitPrice': [1200.00,89.99,499.00,49.99,1200.00,79.99,89.99,499.00,1200.00,49.99,
                  79.99,1200.00,499.00,89.99,49.99,79.99,1200.00,499.00,89.99,49.99],
    'SalesRep':  ['Jordan','Taylor','Morgan','Jordan','Casey','Taylor','Morgan','Casey',
                  'Jordan','Taylor','Casey','Morgan','Jordan','Taylor','Casey','Morgan',
                  'Jordan','Casey','Taylor','Morgan']
}

df = pd.DataFrame(sales_data)
df['Date'] = pd.to_datetime(df['Date'])
df['Revenue'] = df['Quantity'] * df['UnitPrice']

print(f'Dataset: {len(df)} orders')
print(f'Total revenue: ${df.Revenue.sum():,.2f}')
print(f'Products: {sorted(df.Product.unique())}')
print(f'Regions: {sorted(df.Region.unique())}')
print(f'Sales reps: {sorted(df.SalesRep.unique())}')
df.head()

Dataset: 20 orders
Total revenue: $16,803.21
Products: ['Headset', 'Keyboard', 'Laptop', 'Monitor', 'Webcam']
Regions: ['East', 'North', 'South', 'West']
Sales reps: ['Casey', 'Jordan', 'Morgan', 'Taylor']

   OrderID       Date Region   Product  Quantity  UnitPrice SalesRep  Revenue
0     1001 2024-01-05  North    Laptop         2    1200.00   Jordan  2400.00
1     1002 2024-01-12  South   Headset         5      89.99   Taylor   449.95
2     1003 2024-01-18   East   Monitor         1     499.00   Morgan   499.00
3     1004 2024-01-22   West  Keyboard         8      49.99   Jordan   399.92
4     1005 2024-01-30  North    Laptop         1    1200.00    Casey  1200.00